@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Cinzel:wght@400..900&family=Lobster&family=Major+Mono+Display&family=Orbitron:wght@400..900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Vinyl&family=Tiny5&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero_heading {
    font-size: 5rem;
    text-align: center;
    font-family: "Major Mono Display", monospace;;
}
.hero_text{
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding-top: 2em;
}
.hero_container {
  width: 100%;
  display: flex;
  max-width: 1200px;
   margin: 0 auto;
   padding: 20px;
}
.hero_left {
  width: 50%;
  display: flex;
  padding: 1em;
}
.hero_right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.hero_image {
    width:80%;
    max-height: 80%;
    object-fit: cover;
    border-radius: 10px;
}
.hero_button_container {
    justify-content: center;
    align-items: center;
    padding: 2em;
    display: block;
    margin: 0 auto;
    width: fit-content;
}
.hero_button_shop, .hero_button_order {
    padding: 15px 20px;
    font-size: 0.9rem;
    background-color: #008080;
    color: white;
    font-weight: bold;
}

