/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: beige;
  color: #ffffff;
  position: sticky;
  top: 0;
}

.navbar .logo a {
  color: #000000;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 400;
}

.nav-links a:hover {
  color: rgb(133, 133, 115);
}

/* Hamburger menu styles */
.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 0.3rem;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    width: 100%;
    text-align: center;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #333;
    z-index: 1;
  }

  .nav-links.mobile {
    display: flex;
  }

  .nav-links li {
    margin: 1rem 0;
  }

  .hamburger {
    display: flex;
  }
}
